language: php

dist: jammy

php:
  - 8.1
  - 8.2
  - 8.3
  - 8.4
  - 8.5

cache:
  directories:
    - $HOME/.composer/cache

install:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-dist --dev

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
